html {
  height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(90deg, hsla(228, 17%, 53%, 1) 0%, hsla(229, 28%, 88%, 1) 100%);
}

.allcontainer {
  border-radius: 20px;
  margin: 20px auto;
  height: 90vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: #60696b;
  padding: 30px;
}

.row {
  display: flex;
  flex: auto;
  gap: 10px;
}

.col {
  flex: auto;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.input.numbers {
  display: flex;
  flex-direction: column;
}

.operators {
  flex-grow: 0.4;
}

.displaypanel {
  flex-grow: 0.4;
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.display {
  flex: auto;
}

.display > input {
  font-size: 50px;
  width: 98%;
  height: 90%;
  margin: 10px;
}

.operators .operator {
  background-color: #f9bc2c;
}

#equals {
  background-color: #f74c06;
}

button {
  flex: auto;
  font-size: 40px;
}

